@media(max-width: 900px) {
.container {
	padding: 0 20px;
}
.advantage__item  {
	font-size: 13px;
	
}
.advantage__wrapper {
	flex-wrap: wrap;
}

.title_left {
	font-size: 31px;
}
.consultation__descr{
	font-size: 15px;
}
}

@media(max-width: 880px)  {
.title {
font-size: 32px;
}

.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		list-style: none;
		margin: 0 10px;
		transition: 0.2s;
		button {
			font-size: 0;
			width: 15px;
			height: 15px;
			border: 1px red;
			background-color: grey;
			border-radius: 50%;
		}
	}
}
.slick-dots {
	.slick-active  {
		button {
			background-color: red;
		}
	}

}

.promo__subheader {
	font-size: 17px;
}
}

@media(max-width: 768px) {
	.header__offical {
		display: none;
	}
	.title {
		font-size: 23px;
		line-height: 30px;
	}
	.carousel__inner {
		width: 100%;
	}
}


@media (max-width: 420px) {
	.header__logo {
		width: 150px;
	}
	.promo__icons {
		width: 320px;
	}
	.promo__icon {
		font-size: 12px;
	}
	.promo__subheader{
		text-align: right;
	}
	.header__phone {
		font-size: 12px;
	}
	.slick-slide {
		img {
			width: 390px;
		}
	}
}